Django==5.2.8
gunicorn==26.0.0
whitenoise==6.12.0
dj-database-url==3.1.2
mysqlclient==2.2.8
PyMySQL==1.2.0
PyJWT==2.13.0
pillow==12.1.0
qrcode==8.2
reportlab==4.4.10
python-dotenv==1.2.1
djangorestframework==3.16.1
geopy==2.4.1
django-renderpdf==6.0.0
asgiref==3.11.0
sqlparse==0.5.4
certifi==2025.10.5
